h1 {
    background-color: orange;
    height:52px;
    width: 400px;
}

.porshe {
    background-color: black;
    height: 2500px;
    text-align: center;
}

p {
    color: green;
    text-align:center;
}

.viki {
    height: 350px;
}

.rty {
   height:350px 
}

.sjc {
  height: 350px;
}

.var {
    height: 300px;
}


.cjs {
    height: 315px;
}


